body{
  position: relative;
  margin: 0;
}
#wrap{
  min-height: ~"calc(100vh - 380px)" !important;
  background: #fff;
}
.flex{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
}
.title{
  font-size: 30px;
  color:#333;
  text-align: center;
  padding: 60px 0;
}
.aboutUs{
  .section1{
    img{
      width:100%;
      height:100%;
    }
  }
  .section2{
    height:650px;
    background: #fff;
    .all{
    .flex;
      justify-content: flex-start;
      .left{
        box-sizing: border-box;
        width:490px;
        height: 440px;
        position: relative;
        img{
          width: 200px;
          height: 200px;
          border-radius: 5px;
          margin: 0 40px 40px 0;
          &:last-child{
            position: absolute;
            top:120px;
            left: 120px;
            border: 15px solid #fff;
            border-radius: 10px;
          }
          &:last-child:hover{
            width:450px;
            height:450px;
            position: absolute;
            top:0;
            left:0;
            border:none;
            border-radius: 5px;
            z-index: 999;
            transition: all 1s;
            -moz-transition: all 1s;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
          }
        }
      }
      .right{
        max-width: ~"calc(100vw - 950px)";
        p{
          font-size: 16px;
          color:#666;
          letter-spacing: 2px;
         text-indent: 2em;
          line-height: 2;
        }
      }
    }
  }
  .section3{
    height: 410px;
    background:#f8f8f8;
    .all{
      .flex;
      div{
        width:580px;
        height: 200px;
        border-radius: 5px;
        background: #fff;
        &:hover{
          box-shadow: 0 0 10px rgba(0,0,0,.2);
        }
        p:first-child{
          margin: 35px 0;
          text-align: center;
          font-size: 18px;
          color:#666;
        }
        p:last-child{
          padding: 0 60px;
          font-size: 16px;
          color:#999;
          line-height: 1.5;
        }
      }
      .left{
        margin-right: 40px;
      }
    }
  }
  .section4{
    height:1170px;
    div{
      img{
        width:545px;
        margin-bottom: 40px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        &:nth-child(2n){
          margin-left: 40px;
        }
      }
    }
  }
}
.productenter{
  .section1{
    img{
      width:100%;
    }
  }
  .section2{
    height:320px;
    background: #fff;
    .all{
      ul {
        .flex;
        li {
          .flex;
          width: 360px;
          height: 110px;
          margin-right: 60px;
          &:last-child{
            margin-right: 0;
          }
          .icons{
            width: 100px;
            height: 100px;
            margin-right: 20px;
            background-size:100%;
        }
          .icon1{
            background: url("../images/icon07.png") no-repeat center;
          }
          .icon2{
            background: url("../images/icon09.png") no-repeat center;
          }
          .icon3{
            background: url("../images/icon011.png") no-repeat center;
          }
        .text{
          width: 240px;
            p:first-child{
              font-size: 16px;
              color:#666;
              margin-bottom: 15px;
            }
            p:last-child{
              font-size: 12px;
              color:#999;
              line-height: 1.8;
            }
          }
          &:first-child:hover .icon1{
            background: url("../images/icon08.png") no-repeat center;
          }
          &:nth-child(2):hover .icon2{
            background: url("../images/icon010.png") no-repeat center;
          }
          &:nth-child(3):hover .icon3{
            background: url("../images/icon012.png") no-repeat center;
          }
      }
      }
    }
  }
  .section3{
    height:600px;
    background:#f8f8f8;
    #myCarousel{
      .carousel-indicators{
        bottom: -40px;
      }
      .carousel-indicators li{
        width:16px;
        height:16px;
        border: 2px solid #bbb;
      }
      .carousel-indicators .active{
        width: 18px;
        height:18px;
        background: #bbb;
      }
      .item>.all{
        img{
          width:460px;
          height:270px;
        }
        .flex;
        .tit{
          font-size: 16px;
          color:#666;
          margin: 20px 0;
          line-height: 1;
        }
        p{
          font-size: 12px;
          color:#999;
          letter-spacing: 2px;
          line-height: 3;
        }
        .button1{
          margin-top: 30px;
          width: 180px;
          position: relative;
          border: 1px solid transparent;
          border-radius: 16px;
          color:transparent;
          background-clip: padding-box;
          padding: 1px;
          a{
            text-align: center;
            font-size: 14px;
            height:39px;
            line-height: 39px;
            background: #fff;
            display: block;
            text-decoration: none;
            border-radius: 30px;
          }
        }
        .button1::after{
          position: absolute;
          top: -1px; bottom: -1px;
          left: -1px; right: -1px;
          background: linear-gradient(#114da4, #0475c4);
          content: '';
          z-index: -1;
          border-radius: 30px;
        }
      }
    }
    .all>div{
      width: 680px;
    }
  }
}
.newsAndTrends{
  .section1{
    img{
      width:100%;
    }
  }
  .section2{
    #myTab{
      margin-top: 60px;
      .flex;
      justify-content: center;
      li{
        font-size: 16px;
        margin: 0 150px;
        a{
          color:#333;
        }
        &.active{
          a{
            color:#0669ba;
            border:none;
            border-bottom: 1px solid #0669ba;
          }
        }
        &:hover{
          a{
            background: #fff;
            color:#0669ba;
            border: none;
            border-bottom:1px solid #0669ba;
            margin-bottom: 1px;
          }
        }
      }
    }
    #myTabContent{
     #industry,#company{
       min-height:300px;
        ul{
          margin: 30px 0;
          li{
            height: 60px;
            line-height: 60px;
            .flex;
            justify-content: space-between;
            border-bottom: 1px dashed #d7d7d7;
            div{
              .flex;
              align-items: center;
              font-size: 14px;
              color:#666;
              a{
                color:#666;
                width: 800px;
                display:block;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
                text-decoration: none;
                &:hover{
                  color:#0669ba;
                }
              }
              img{
                width: 14px;
                height:14px;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}
.newsDetails{
  margin: 20px 0 60px;
  .section1{
    border:1px solid #d7d7d7;
    padding-left: 0;
    padding-right: 0;
    div{
      &:first-child{
        text-align: center;
        height: 80px;
        border-bottom: 1px solid #d7d7d7;
        p{
          color:#666;
          font-size: 12px;
          &:first-child{
            font-size: 16px;
            margin: 20px 0;
            font-weight: bold;
          }
        }
      }
      &:last-child{
        padding: 40px;
        font-size: 14px;
        color:#999;
        line-height: 3;
      }
    }
  }
}
.contactUs{
  height:100vh;
  position: relative;
  #allmap{height:100vh;width:100%;}
  .optionpanel{margin: 10px;}
  #r-result{width:100%;}
  #r-result p{margin:5px 0 0 10px;}
  .all{
    background: #fff;
    height:100%;
    width:0;
    position: absolute;
    right:0;
    top:0;
    margin-right: -335px;
   &::before{
     content: '';
     position: absolute;
     width: 350px;
     height:100%;
     left:-325px;
     bottom: 0;
     border-bottom:100vh solid #fff;
     border-left:275px solid transparent;
   }
    .content{
      padding-right: 150px;
      text-align: right;
      div{
        padding: 120px 0;
      }
      .bottom{
        width: 350px;
        position: absolute;
        left:-132px;
        p{
          font-size: 14px;
          color:#999;
          height: 40px;
          line-height:1;
        }
        .text{
          font-size: 16px;
          color:#666;
          border-bottom: 1px solid #666;
          margin-left: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .allTransition{
    width: 370px;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 300ms;
    transition-duration: 0.7s;
    margin-right:0;
  }
}
