body{
  position: relative;
  margin: 0;
}
#wrap{
  min-height: ~"calc(100vh - 110px)";
  background: #e9f3f6;
}
#footer {
  height:60px;
  padding-bottom: 0px;
  background: #222;
  color:#fff;
  text-align: center;
}
#header{
  height:50px;
}
.navChange{
  background:#fff;
  transition: background 1s;
  border-bottom: none;
}