body{
  position: relative;
  margin: 0;
}
#wrap{
  min-height: ~"calc(100vh - 380px)" !important;
  background: #fff;
}
.flex{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
}
.title{
  font-size: 30px;
  color:#333;
  text-align: center;
  padding: 60px 0;
}
.aboutUs{
  .section1{
    img{
      width:100%;
      height:100%;
    }
  }
  .section2{
    height:650px;
    background: #fff;
    .all{
    .flex;
      justify-content: flex-start;
      .left{
        box-sizing: border-box;
        width:490px;
        height: 440px;
        position: relative;
        img{
          width: 200px;
          height: 200px;
          border-radius: 5px;
          margin: 0 40px 40px 0;
          &:last-child{
            position: absolute;
            top:120px;
            left: 120px;
            border: 15px solid #fff;
            border-radius: 10px;
          }
          &:hover{
            width:450px;
            height:450px;
            position: absolute;
            top:0;
            left:0;
            border:none;
            border-radius: 0;
            z-index: 999;
            transition: all 1s;
            -moz-transition: all 1s;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
          }
        }
      }
      .right{
        max-width: ~"calc(100vw - 950px)";
        p{
          font-size: 16px;
          color:#666;
          letter-spacing: 2px;
         text-indent: 2em;
          line-height: 2;
        }
      }
    }
  }
  .section3{
    height: 410px;
    background:#f8f8f8;
    .all{
      .flex;
      div{
        width:580px;
        height: 200px;
        border-radius: 5px;
        background: #fff;
        &:hover{
          box-shadow: 0 0 10px rgba(0,0,0,.2);
        }
        p:first-child{
          margin: 35px 0;
          text-align: center;
          font-size: 18px;
          color:#666;
        }
        p:last-child{
          padding: 0 60px;
          font-size: 16px;
          color:#999;
          line-height: 1.5;
        }
      }
      .left{
        margin-right: 40px;
      }
    }
  }
  .section4{
    height:1170px;
    div{
      img{
        width:545px;
        margin-bottom: 40px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        &:nth-child(2n){
          margin-left: 40px;
        }
      }
    }
  }
}
.productenter{
  #myCarousel{
    img{
      width:100%;
      //height:700px;
    }
  }
  .section1{
    img{
      width:100%;
    }
  }
  .section2{
    height:320px;
    background: #fff;
    .all{
      ul {
        .flex;
        li {
          .flex;
          width: 360px;
          height: 110px;
          margin-right: 60px;
          &:last-child{
            margin-right: 0;
          }
          .icons{
            width: 100px;
            height: 100px;
            margin-right: 20px;
            background-size:100%;
        }
          .icon1{
            background: url("../images/icon07.png") no-repeat center;
          }
          .icon2{
            background: url("../images/icon09.png") no-repeat center;
          }
          .icon3{
            background: url("../images/icon011.png") no-repeat center;
          }
        .text{
          width: 240px;
            p:first-child{
              font-size: 16px;
              color:#666;
              margin-bottom: 15px;
            }
            p:last-child{
              font-size: 12px;
              color:#999;
              line-height: 1.8;
            }
          }
          &:first-child:hover .icon1{
            background: url("../images/icon08.png") no-repeat center;
          }
          &:nth-child(2):hover .icon2{
            background: url("../images/icon010.png") no-repeat center;
          }
          &:nth-child(3):hover .icon3{
            background: url("../images/icon012.png") no-repeat center;
          }
      }
      }
    }
  }
  .section3{
    height:600px;
    background:#f8f8f8;
    #myCarousel{
      .item{
        .flex;
        height: 600px;
      }
      .item>div{
        width: 680px;
        .tit{
          font-size: 16px;
          color:#666;
          margin: 20px 0;
          line-height: 1;
        }
        p{
          font-size: 12px;
          color:#999;
          letter-spacing: 2px;
          line-height: 3;
        }
        .button1{
          margin-top: 30px;
          width: 180px;
          position: relative;
          border: 1px solid transparent;
          border-radius: 16px;
          color:transparent;
          background-clip: padding-box;
          padding: 1px;
          a{
            text-align: center;
            font-size: 14px;
            height:39px;
            line-height: 39px;
            background: #fff;
            display: block;
            text-decoration: none;
            border-radius: 30px;
          }
        }
        .button1::after{
          position: absolute;
          top: -1px; bottom: -1px;
          left: -1px; right: -1px;
          background: linear-gradient(#114da4, #0475c4);
          content: '';
          z-index: -1;
          border-radius: 30px;
        }
      }
    }
  }
}
